<div class="card flex justify-content-center" style="margin: 20px 0;">
    <p-panel header="Pipes no comunes en Angular" [toggleable]="true">
        <h2>Pipes no comunes en Angular</h2>
        <p>Angular proporciona una serie de pipes integrados para realizar transformaciones comunes en los datos. Estos pipes se encuentran en el módulo CommonModule y están disponibles para su uso en toda la aplicación. Sin embargo, hay algunos pipes no comunes que no se incluyen en el CommonModule y que deben ser importados y agregados manualmente a los módulos específicos donde se desean utilizar.</p>
    </p-panel>
</div>
<div class="grid">
    <div class="col-6">
        <p-fieldset legend="Pipe: KeyValuePipe" [toggleable]="true">
            <p>El KeyValuePipe se utiliza para iterar sobre las propiedades de un objeto y obtener tanto la clave como el valor de cada propiedad. Esto es útil cuando se desea mostrar los datos de un objeto en una tabla o en una lista.</p>
            <div class="example-1" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; margin-top: 10px;">
                <ul>
                    <li *ngFor="let item of person | keyvalue">
                        <b>{{ item.key | titlecase }}</b> : {{ item.value }}
                    </li>
                </ul>
                <!-- Explicacion: 
                1. El objeto "person" se pasa al pipe KeyValuePipe, que lo convierte en un array de objetos con las propiedades "key" y "value".
                2. Luego, se utiliza el bucle *ngFor para iterar sobre este array y mostrar cada propiedad y su valor en un elemento de lista (li).
                3. La propiedad "key" se muestra en negrita y la propiedad "value" se muestra en texto normal.
                4. El pipe TitleCase se utiliza para convertir la primera letra de cada palabra en la propiedad "key" en mayúscula.
                -->
            </div>
        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Pipe: Async" [toggleable]="true">
            <p>El AsyncPipe se utiliza para suscribirse a un Observable y mostrar automáticamente los valores emitidos por ese Observable en la vista. Esto es útil cuando se trabaja con datos asincrónicos, como los obtenidos de una API, y se desea mostrar los datos en la vista sin tener que escribir código adicional para la suscripción y la actualización de los datos.</p>
            <div class="example-1" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; text-align: center; margin-top: 10px;">
                <p>No disponible</p>
                <!-- <pre *ngIf="!(myObservableTimer | async)">Resolviendo observable</pre> -->
                <!-- <pre>{{ myObservableTimer | async }}</pre> -->
                <!-- Explicacion: 
                1. El AsyncPipe se utiliza para suscribirse al Observable "myObservableTimer" y mostrar automáticamente los valores emitidos por ese Observable en la vista. En este caso, el Observable emite un valor cada segundo, que se muestra en la vista utilizando la interpolación de Angular ({{ }}).
                2. El primer elemento "pre" se muestra solo si el Observable aún no ha emitido ningún valor. Una vez que el Observable emite un valor, se oculta automáticamente y se muestra el segundo elemento "pre", que muestra el valor emitido por el Observable.
                3. Cuando el componente se destruye, el AsyncPipe se encarga de cancelar automáticamente la suscripción al Observable para evitar posibles fugas de memoria.
                4. Es importante tener en cuenta que el AsyncPipe solo funciona con Observables que emiten valores de tipo primitivo o objetos simples. Si el Observable emite valores complejos, como arrays o objetos anidados, es necesario utilizar el pipe JsonPipe para mostrar los datos correctamente en la vista.
                -->
            </div>
            <div class="example-1" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; text-align: center; margin-top: 10px;">
                <p>No disponible</p>
                <!-- <pre *ngIf="!(promiseValue | async)">Resolviendo promesa</pre> -->
                <!-- <pre>{{ promiseValue | async }}</pre> -->
                <!-- Explicacion: 
                1. El AsyncPipe se utiliza para suscribirse a una Promesa y mostrar automáticamente el valor resuelto por esa Promesa en la vista. En este caso, la Promesa se resuelve después de 3 segundos y devuelve una cadena de texto, que se muestra en la vista utilizando la interpolación de Angular ({{ }}).
                2. El primer elemento "pre" se muestra solo si la Promesa aún no se ha resuelto. Una vez que la Promesa se resuelve, se oculta automáticamente y se muestra el segundo elemento "pre", que muestra el valor resuelto por la Promesa.
                3. Es importante tener en cuenta que el AsyncPipe solo funciona con Promesas que resuelven valores de tipo primitivo o objetos simples. Si la Promesa resuelve valores complejos, como arrays o objetos anidados, es necesario utilizar el pipe JsonPipe para mostrar los datos correctamente en la vista.
                4. También es importante tener en cuenta que el AsyncPipe no se encarga de cancelar automáticamente la Promesa si el componente se destruye. Si se necesita cancelar la Promesa para evitar posibles fugas de memoria, es necesario hacerlo manualmente utilizando el método "then" de la Promesa y cancelando la suscripción en el método "ngOnDestroy" del componente.
                -->
            </div>
        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Pipe: Slice" [toggleable]="true">
            <p>El SlicePipe se utiliza para extraer una porción de un array o una cadena de texto. Esto es útil cuando se desea mostrar solo una parte de los datos en la vista, como los primeros elementos de una lista o los caracteres de una cadena de texto que se encuentran en un rango específico.</p>
            <div class="example-1" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; text-align: center; margin-top: 10px;">
                <p><strong>Lista de frutas (Original): </strong></p>
                <pre>{{ fruits }}</pre>
                <hr>
                <p><strong>Slice:0:2: </strong></p>
                <p>{{ fruits | slice:0:2 }}</p>
                <hr>
                <p><strong>Slice:1:3: </strong></p>
                <p>{{ fruits | slice:1:3 }}</p>
                <hr>
                <p><strong>Slice:0:-2</strong></p>
                <p>{{ fruits | slice:0:-2 }}</p>
                <!-- Explicación: 
                1. {{ fruits }} se reemplaza con el valor del array fruits en el componente.
                2. El pipe slice se utiliza para extraer una porción del array fruits. Los índices 0:2 extraen los primeros dos elementos del array, los índices 1:3 extraen los elementos en las posiciones 1 y 2, y los índices 0:-2 extraen todos los elementos excepto los dos últimos.
                -->
            </div>
        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Pipe: i18nSelect" [toggleable]="true">
            <p>El i18nSelectPipe se utiliza para seleccionar una cadena de texto en función de un valor numérico o de una expresión booleana. Esto es útil cuando se desea mostrar diferentes mensajes en la vista en función de una condición, como mostrar "elemento" o "elementos" en función de la cantidad de elementos en una lista.</p>
            <div class="example-1" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; text-align: center; margin-top: 10px;">
                <p>Hola, ¡{{ name }}! es un placer {{ gender | i18nSelect: invitationMap }} a nuestro evento.</p>
                <p-button (onClick)="changeClient()" label="Cambiar persona"></p-button>
                <!-- Explicación: 
                1. {{ name }} se reemplaza con el valor de la variable name en el componente.
                2. {{ gender | i18nSelect:invitationMap }} se utiliza para seleccionar una cadena de texto en función del valor de la variable gender. La variable invitationMap es un objeto que contiene las cadenas de texto para cada valor posible de gender. En este caso, si gender es 'male', se selecciona la cadena de texto 'invited'. Si gender es 'female', se selecciona la cadena de texto 'welcomed'. Si gender no es ni 'male' ni 'female', se selecciona la cadena de texto 'welcomed'.
                3. (onClick)="changeClient()" se utiliza para llamar a la función changeClient() cuando se hace clic en el botón. Esta función cambia los valores de las variables name y gender para simular la selección de una persona diferente.
                -->
            </div>
            <div class="example-2" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; text-align: center; margin-top: 10px;">
                <p>{{ recipientGender | i18nSelect: genderMap }}</p>
                <!-- Explicación: 
                1. {{ recipientGender | i18nSelect: genderMap }} se utiliza para seleccionar una cadena de texto en función del valor de la variable recipientGender. La variable genderMap es un objeto que contiene las cadenas de texto para cada valor posible de recipientGender. En este caso, si recipientGender es 'male', se selecciona la cadena de texto 'Dear Sir'. Si recipientGender es 'female', se selecciona la cadena de texto 'Dear Madam'. Si recipientGender no es ni 'male' ni 'female', se selecciona la cadena de texto 'Dear Recipient'.
                -->
            </div>
        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Pipe: i18nPlural" [toggleable]="true">
            <p>El i18nPluralPipe se utiliza para seleccionar una cadena de texto en función de un valor numérico y de una serie de reglas de pluralización. Esto es útil cuando se desea mostrar diferentes mensajes en la vista en función de la cantidad de elementos en una lista, como "1 elemento", "2 elementos" o "5 o más elementos".</p>
            <div class="example-1" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; text-align: center; margin-top: 10px;">
                <p>Actualmente {{ clients.length | i18nPlural:clientsMap }}</p>
                <p-button label="Borrar cliente" (click)="deleteClient()"></p-button>
            </div>
            <!-- Explicación: 
            1. {{ clients.length | i18nPlural:clientsMap }} se utiliza para seleccionar una cadena de texto en función de la longitud de la matriz clients. La variable clientsMap es un objeto que contiene las reglas de pluralización y las cadenas de texto correspondientes. En este caso, si la longitud de la matriz clients es 0, se selecciona la cadena de texto '=0 {no hay clientes}'. Si la longitud de la matriz clients es 1, se selecciona la cadena de texto '=1 {hay un cliente}'. Si la longitud de la matriz clients es mayor que 1, se selecciona la cadena de texto 'other {hay # clientes}'. La cadena '#' se reemplaza con el valor de la longitud de la matriz clients. Si no se proporciona una regla para el valor de la longitud de la matriz clients, se selecciona la cadena de texto 'other'.
            2. (click)="deleteClient()" se utiliza para llamar a la función deleteClient() cuando se hace clic en el botón. Esta función elimina el último elemento de la matriz clients para simular la eliminación de un cliente.
            -->
        </p-fieldset>
    </div>
    <div class="col-6">
        <p-fieldset legend="Pipe: Json" [toggleable]="true">
            <p>El JsonPipe se utiliza para formatear un objeto JavaScript como una cadena JSON. Esto es útil cuando se desea mostrar los datos de un objeto en un formato legible por humanos o cuando se desea enviar los datos a un servidor en formato JSON.</p>
            <div class="example-1" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; margin-top: 10px;">
                <pre>
                    {{ person | json }}
                </pre>
                <!-- Explicación: 
                1. {{ person | json }} se utiliza para formatear el objeto person como una cadena JSON. La cadena JSON resultante se muestra dentro de una etiqueta <pre> para preservar el formato de la cadena JSON. La propiedad person es un objeto JavaScript que contiene información sobre una persona, como su nombre, edad y dirección. Al utilizar el JsonPipe, se puede ver fácilmente la estructura del objeto y los valores de sus propiedades.
                -->
            </div>
        </p-fieldset>
    </div>
</div>
