<div class="card flex justify-content-center m-3">
    <p-panel header="Pipes personalizados en Angular" [toggleable]="true">
        <h2>Los Pipes personalizados en Angular - Son creados por el usuario para realizar transformaciones de datos en la vista.</h2>
        <p>Los pipes personalizados en Angular son una herramienta poderosa que te permite transformar datos en la vista de tu aplicación. Estos pipes son creados por el usuario para realizar transformaciones específicas que no están disponibles de forma predeterminada en Angular. En este artículo, exploraremos cómo crear pipes personalizados en Angular y cómo utilizarlos en tus componentes.</p>        
    </p-panel>
</div>
<div class="grid">
    <div class="col-4">
        <p-card header="ToggleCasePipe" [style]="{'margin': '0 10px'}">
            <p class="m-0">
                
            </p>
            <div class="example-1" style="background-color: rgb(0, 0, 0); padding: 8px; border-radius: 5px; text-align: center; margin-top: 10px;">
                {{ name | toggleCase }}
            </div>
        </p-card>    
    </div>
</div>
