<h1>Hello world!!</h1>
<!-- el selector 'p-button' es el que nos permite crear el boton -->
<p-button label="Comenzamos"></p-button>
<!-- el selector 'p-dropdown' es el que nos permite crear el dropdown -->
<div class="container mb-3 mt-3">
  <p-dropdown 
      [options]="cities" 
      [(ngModel)]="selectedCity" 
      optionLabel="name"
      placeholder="Select a City">
  </p-dropdown>
</div>
<div class="container">
    <i class="pi pi-check" style="font-size: 1rem; margin: 0 15px;"></i>
    <i class="pi pi-times" style="font-size: 1.5rem; margin: 0 15px;"></i>
    <span class="pi pi-search" style="font-size: 2rem; margin: 0 15px;"></span>
    <span class="pi pi-user" style="font-size: 2.5rem; margin: 0 15px;"></span>
</div>
