<!-- La sintaxis de los corchetes sirven para enlazar una propiedad de un componente con una expresión de Angular. En este caso, la propiedad "model" del componente "p-menubar" se está enlazando con la variable "items" en el contexto del componente. Esto significa que el valor de la variable "items" se pasará como entrada al componente "p-menubar" y se utilizará para construir el menú de navegación. --> 
<p-menubar [model]="items">
    <!-- <img src="./favicon.ico" alt="Logo de Angular" width="32"> -->
    <span class="pi pi-github" style="font-size: 32px;"></span>
</p-menubar>
